<head>
<!-- get fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
<link rel="stylesheet" href="/app.css">
</head> 
<body>
<div class="flex-container">
    <div class="container">
<h1>JOIN US!</h1>

<h3>This is 'home.ejs' in my sample app</h3>
<p class="lead">Enter email to join <strong><%=data%></strong> others on our waitlist. 
    NOT a cult!
</p>
<form method="POST", action="/register">
    <input type="text" 
    name="email" 
    class="form" 
    placeholder="Enter your email">
    <button>Join today</button>
</form>
</div> <!-- inner container div -->
</div> <!-- outside div -->

</body>